@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
}

#page { max-width: 1200px; margin: 0 auto; position: relative; }


/* Text */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700; }
h2 { margin: 0 0 .5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight: 700; }
h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight: 700; }

p { margin: 0 0 1em 0; }

a { color: #007eff; }
a:visited { color: #65b1ff; }

a.btn {
    font-size: 1.2em; text-decoration: none; color: #fff; border: 1px solid #fff; padding: 4px 15px;
    transition: background-color .3s;
}
a.btn:hover { background-color: rgba(0,0,0,.3); }


/* Header */

header { height: 430px; background: #cf0004 url('../images/banner_1200.jpg') no-repeat center bottom; position: relative; }
header a.logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background: url('../images/logo.svg') no-repeat 0 0;
    background-size: contain;
    top: 15px; left: 20px;
}
header a.logo span { display: none; }
header div.hero { position: absolute; width: 42%; top: 130px; left: 55%; }
header div.hero h1 { line-height: 1em; margin: 0 0 30px 0; color: #fff; }


/* Section - All */

section { padding: 0 30px; }
section::after { content: '';  display: block; clear: both;} /* makes parent element extend to cover the area occupied by floating elements */


/* Section - Main */

section.main { margin-top: 20px; margin-bottom: 30px; padding: 0; }
section.main aside { width: 33%; float: left; text-align: center; }

section.main .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px; }

section.main aside h3 a { color: #000; text-decoration: none; }
section.main aside h3 a:hover { text-decoration: underline; }

section.main aside .content.trending { background-image: url('../images/icon_star.svg'); }
section.main aside .content.find-it { background-image: url('../images/icon_marker.svg'); }
section.main aside .content.tools { background-image: url('../images/icon_gear.svg'); }


/* Section - Atmosphere */

section.atmosphere { background-color: #cc6633; padding-top: 30px; padding-bottom: 30px; color: #fff; }
section.atmosphere article { padding: 0px 20px 0 515px; background: url('../images/photo_lounge.jpg') no-repeat 0 5px; min-height: 220px;}


/* Section - How To */

section.how-to { background-color: #eee9d9; position: relative; }
section.how-to aside { width: 30%; float: left; margin-right: 10px; }
section.how-to aside .content { padding: 30px 30px 20px 0; float: left; margin-right: 10px; }
section.how-to aside .content img { display: block;  margin-bottom: 15px; width: 70%; }
section.how-to aside .content h4 { margin-bottom: 0px; }
section.how-to aside .content p { margin-bottom: .5em; }
section.how-to aside .content a { display: inline-block; oclor: #cc6633; font-weight: 700; }

section.how-to blockquote {
    width: 32%; margin: 0; color: #444; background-color: #fff;
    position: absolute; bottom: 0; right: 4%;
}

section.how-to blockquote p { margin: 30px 30px 20px 50px; }
section.how-to blockquote p.quote { font-style: italic; font-size: 1.2em; }
section.how-to blockquote p.credit { color: #777; font-size: .9em; margin-top: 0; padding-left: 20px; line-height: 1.3em; position: relative; }

section.how-to blockquote::before { content: '\201c'; color: #d2bd65; position: absolute; top: 10px; left: 8px; font-size: 5em; font-family: serif; }
section.how-to blockquote p.quote::after { content: '\201d'; font-family: serif; }
section.how-to blockquote p.credit::before { content: '\2014'; position: absolute; top: -1px; left: 0; }


/* Navigation */

nav {
    background-color: rgba(0,0,0,.65);
    position: absolute; top: 0; left: 0;
    padding: 50px 0 0 0;
    width: 100%;
}

nav::after { content: ''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding: 0; }

nav ul li:hover { background-color: #2b0306; }
nav ul li:hover > ul { display: block; }

nav ul li a { display: inline-block; color: #fff; padding: 10px 20px; text-decoration: none; width: 125px; position: relative; }
nav ul li a:visited { color: #fff; }
nav ul li a:hover { background-color: #6d0911; }

nav ul ul { position: absolute; top: 100%; background-color: #2b0306; display: none; }
nav ul ul li { position: relative; }
nav ul ul ul { left: 100%; top: 0px; }

/* top-level */
nav > ul { padding-left: 200px; }
nav > ul > li { float: left; }
nav > ul > li > a { width: auto; padding: 10px 20px 15px 20px; }

nav a[aria-haspopup="true"]::after {
    content: '';
    display: block; width: 0; height: 0;
    position: absolute;
    top: 16px; right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}
nav > ul > li > a[aria-haspopup="true"]::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    left: 20px;
    right: auto;
    bottom: 6px;
    top: auto;
}




/* Footer */

footer { font-size: .8em; margin: 40px; color: #999; }
footer .content{ display: inline; }
footer a { margin-left: 30px; color: #777; }
footer a:visited { color: #777; }
footer a:hover { color: #000; }
